.sidecover {
  @apply col-span-5 text-white flex flex-col items-center justify-between;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url("/images/bg.jpeg");
  background-size: cover;
}

.rightbar {
  @apply col-span-7 flex flex-col items-center;
}

input {
  border: 1px solid #dde2e5;
  box-sizing: border-box;
  border-radius: 4px;
  width: 18.5rem;
  height: 3rem;
  padding-left: 1rem;
}
input:focus {
  outline: none;
}
